    body {
        background: #000;
    }
    
    .timer {
        font-family: "Londrina Outline", cursive;
        text-align: center;
        font-size: 3em;
        color: #fff;
        letter-spacing: 0.15em;
    }
    
    .fecha {
        font-family: 'Orbitron', sans-serif;
        text-align: center;
        font-size: 2em;
        color: #fff;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }
    
    .pink {
        text-shadow: 0 0 5px #ff7bac, 0 0 10px #ff7bac, 0 0 20px #ff7bac, 0 0 40px #ff7bac, 0 0 80px #ff7bac, 0 0 90px #ff7bac, 0 0 100px #ff7bac, 0 0 150px #ff7bac;
    }
    
    .blue {
        text-shadow: 0 0 5px #7bacff, 0 0 10px #7bacff, 0 0 20px #7bacff, 0 0 40px #7bacff, 0 0 80px #7bacff, 0 0 90px #7bacff, 0 0 100px #7bacff, 0 0 150px #7bacff;
    }
    
    .green {
        text-shadow: 0 0 5px #7bffce, 0 0 10px #7bffce, 0 0 20px #7bffce, 0 0 40px #7bffce, 0 0 80px #7bffce, 0 0 90px #7bffce, 0 0 100px #7bffce, 0 0 150px #7bffce;
    }
    /* For tablet */
    
    @media all and (max-width: 1328px) and (min-width: 768px) {
        .fecha {
            height: 30vh;
        }
    }
    /* Smaller devices */
    
    @media all and (max-width: 767px) and (min-width: 0px) {
        .fecha {
            height: 30vh;
        }
        #fecha p {
            font-size: 12px;
        }
    }